*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  font-family: 'Courier New', Courier, monospace;
}

header{
  background-color: brown;
}

nav {
  background-color: blanchedalmond;
  width: 80%;
}

nav ul > li{
  display: inline-block;
  padding: .5rem 1.5rem;
}

nav > img{
  width: 10%;
}

.grid{
  display: grid;
  grid-template-columns: 40% 40%;
  justify-content: center;
  align-items: center;
}

.grid > img{
  margin: auto;
}

.flex{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}


main{
  background-color: chocolate;
  font-size: 1rem;
}

footer{
  background-color: brown;
}

/* li{
  width: 75%;
} */

h1{
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  color: darkblue;
}

p{
  line-height: 1.125rem;
}

